@using BAR.Data
@using BAR.Data.Models;
@using BAR.Data.Services;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Identity;

@inject ITransaction TransactionManager;
@inject UserManager<ApplicationUser> UserManager;
@inject ApplicationDbContext dbContext;
@inject AuthenticationStateProvider AuthenticationStateProvider;

@attribute [Authorize];

@page "/transactions"
@rendermode InteractiveServer

@*
    User will be able to veiw, edit and remove UserTransactions
*@

<PageTitle>Transaction History</PageTitle>

<h1>
    Transaction History
</h1>

@* Transactions List*@
<h1>
    SINGLE click a transaction to EDIT it.
    DOUBLE click a transaction to DELETE it.
</h1>

    <Grid TItem="UserTransaction"
        DataProvider="TransactionDataProvider"
        Class="table table-hover"
        AllowSorting="true"
        AllowPaging="true"
        PageSize="10"
        AllowRowClick="true"
        OnRowClick="ShowUpdateModal"
        OnRowDoubleClick="ShowDeleteConfirm"
        Responsive="true">
        <GridColumns>
            <GridColumn TItem="UserTransaction" HeaderText="Date/Time">
                @context.TransactionDateTime
            </GridColumn>
            <GridColumn TItem="UserTransaction" HeaderText="Category">
                @context.TransactionCategory
            </GridColumn>
            <GridColumn TItem="UserTransaction" HeaderText="Label">
                @context.TransactionLabel
            </GridColumn>
            <GridColumn TItem="UserTransaction" HeaderText="Amount">
                @context.TransactionAmt
            </GridColumn>
        </GridColumns>
    </Grid>

    @* Update Transaction Modal *@
    <Modal ref="updatemodal"/>

    @* Delete Transaction Dialog *@
    <ConfirmDialog @ref="deletedialog"/>

@code {
    //vars
    private ApplicationUser user = default!;
    private List<UserTransaction> userTransactions = default!;

    //dependency injection
    [Inject] ToastService toastService { get; set; } = default!;

    //methods
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            user = await UserManager.GetUserAsync(authState.User);
        }
        userTransactions = await TransactionManager.GetTransactions(user.Id);
    }

    private async Task<GridDataProviderResult<UserTransaction>> TransactionDataProvider(GridDataProviderRequest<UserTransaction> request)
    {
        if (userTransactions is null)
        {
            userTransactions = await TransactionManager.GetTransactions(user.Id);
        }
        return await Task.FromResult(request.ApplyTo(userTransactions));
    }

    //update modal
    private Modal updatemodal = default!;
    private async Task ShowUpdateModal(GridRowEventArgs<UserTransaction> transaction)
    {

    }

    //delete dialog
    private ConfirmDialog deletedialog = default!;
    private async Task ShowDeleteConfirm(GridRowEventArgs<UserTransaction> transaction)
    {
        var confirmation = await deletedialog.ShowAsync(
            title: "Delete Transaction?",
            message1: transaction.Item.TransactionLabel.ToString(),
            message2: transaction.Item.TransactionAmt.ToString());

        if (confirmation)
        {
            //delete transaction
            await TransactionManager.DeleteTransaction(transaction.Item);
            userTransactions = await TransactionManager.GetTransactions(transaction.Item.UserId);
            toastService.Notify(new ToastMessage(ToastType.Success, $"Transaction deleted successfully."));
        }
        else
        {
            // do nothing
            toastService.Notify(new ToastMessage(ToastType.Secondary, $"Transaction not deleted."));
        }
    }
}