@using BAR.Data
@using BAR.Data.Models;
@using BAR.Data.Services;
@using BAR.Data.Interfaces;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject TransactionManager TransactionManager;

@page "/transactions"
@rendermode InteractiveServer

@*
    User will be able to veiw, edit and remove UserTransactions
*@

<PageTitle>Transaction History</PageTitle>

<h1>
    Transaction History
</h1>

@if (userTransactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Label</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var UserTransaction in userTransactions)
            {
                <tr>
                    <td>@UserTransaction.TransactionDateTime</td>
                    <td>@UserTransaction.TransactionCategory</td>
                    <td>@UserTransaction.TransactionLabel</td>
                    <td>@UserTransaction.TransactionAmt</td>
                    <td>
                        <button class="btn btn-edit btn-sm" @onclick="() => UpdateModal(UserTransaction)">Update</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteConfirm(UserTransaction.TransactionId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <Modal @ref="updatemodal"/>

    <ConfirmDialog @ref="deletedialog"/>
}

@code {
    //vars
    private List<UserTransaction> userTransactions;

    private ConfirmDialog deletedialog = default!;

    private Modal updatemodal = default!;

    //methods
    protected override async Task OnInitializedAsync()
    {
        userTransactions = await TransactionManager.GetTransactions();
    }

    private async Task DelTrans(int tid)
    {
        await TransactionManager.DeleteTransaction(tid);
        userTransactions = await TransactionManager.GetTransactions();
    }

    //ui
    private void UpdateModal(UserTransaction transaction)
    {

    }

    private void DeleteConfirm(int TID)
    {
        
    }
}