body {
    padding: 20px;
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  * {box-sizing: border-box;}
  
  p {
    margin: 0 0 1em 0;
  }

 /* Container for the footer */
 .foot-div {
  margin-left: 0;
  padding: 0 !important;
}

/* Styling for the image inside the footer */
.foot {
  width: 100%;            /* Image will scale to the full width of the container */
  height: auto;           /* Maintain aspect ratio */
  max-height: 100%;       /* Ensure the image doesn't grow larger than the container's height */
  object-fit: cover;      /* Scale the image to cover the container, cropping if necessary */
  display: block;         /* Remove any space below the image */
  margin: 0;              /* Remove any margin applied to the image */
  padding: 0;             /* Remove any padding on the image */
  margin-left: 0;
}

  .flex {
    display: flex;
    flex-wrap: wrap;
  }
   
  .grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      padding: 10px;
    }

    /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
    
    .item {
      padding: 20px;
      background-color: white;
      font-family: "Times New Roman", Times, serif;
    }
  
    .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }