@page "/"
@layout BAR.Components.Layout.LandingLayout
@rendermode InteractiveServer

<PageTitle>Landing</PageTitle>

<div class="container"> 

    <div class="row">
        <div class="column">
            <img src="/Images/Buck-Logo.jpeg" asp-append-version="true" style="width: 50%; decimal:left;"/>
        </div>
        <div class="column">
            <h1>Howdy Partner!</h1>
            <h1>Ready to Budget?</h1>
        </div>
    </div> <br/>

    <h2>Why choose Buck-a-Roo?</h2>

    <div class="grid">
        <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Easy to Use</CardTitle>
            <CardText>Whether this is your first budget or 100th, BAR will work for you.</CardText>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Quick Set Up</CardTitle>
            <CardText>No unessessary questions and takes 5 minutes to fully set-up.</CardText>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>No Complex Language</CardTitle>
            <CardText>Amortization? Working capital? Fungible? Does anyone actually know what any of those mean?</CardText>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Advanced Analysis</CardTitle>
            <CardText>Be able to see as much or as little analysis about your spending habits.</CardText>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>100% Free</CardTitle>
            <CardText>We don't hide anything behind a paywall.</CardText>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Sounds too good to be true?</CardTitle>
            <CardText>Create an account in seconds and start rounding up your budget!</CardText>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Create Account</Button>
        </CardBody>
    </Card>
    </div> <br/>
</div>

@code {
    
}
