@page "/budget"
@using System.ComponentModel.DataAnnotations

@*
User can create and update their budget and categories.
Accessible to users that are logged in.
*@

<PageTitle>Budget</PageTitle>

<h1>
    Budget
</h1>

<div class='mb-3'>
    Monthly budget (@userCurrencyLocale):
    <CurrencyInput 
        TValue="int" 
        Locale="@userCurrencyLocale"
        @bind-Value="@BdgtAmount" 
        Placeholder="Enter amount"
        ShowCurrencySymbol="true"
        />
</div>


<div class='bdgt-dropdowns d-flex gap-2 mb-4'>
    <select name="" id="" @bind="category_1" @onclose="UpdateDropdown">
        @foreach(string cat in categories){
            <option value='@cat'>@cat</option>
        }
    </select>
    <CurrencyInput TValue="decimal" @bind-Value="category_1_currency"/>
</div>

<div class="bdgt-add-dropdown d-flex gap-2 mb-4">
    <button class="btn btn-primary" @onclick="AddCategoryElmnt">Add more...</button>
</div>

<div class="save-btn md-3">
    <button class="btn btn-primary" @@onclick="SaveChanges">Save</button>
</div>

@code {
    // Vars
    private int BdgtAmount {get; set;} = 0;
    private string userCurrencyLocale = "en-US";

    private string category_1 = "";
    private decimal category_1_currency = 0.00m;

    public struct Category() {
        string type = "";
        decimal amt = 0.00m;
        string name = "";
    };

    List<string> categories = new List<string> 
        {
            "Housing",
            "Bills/Utilities",
            "Grocery/Dining",
            "Transportation",
            "Education",
            "Debt",
            "Entertainment",
            "Shopping",
            "Medical",
            "Miscellaneous"
        };
    
    // Functions
    private void OnInitialzed(){

    }
    private void UpdateDropdown(){
        Console.Write("test");
    }
    private void AddCategoryElmnt(){
            return;
        }

    private void SaveChanges(){
        return;
    }
}