@page "/home"

<h1 style="text-align: center; padding-bottom: 50px;">Howdy Rootin Roo!</h1>

<div style="display: grid; grid-template-columns: auto auto; gap 10px;">
    <Card Style="width:18rem;">
        <CardBody Style="text-align: center">
            <CardTitle>$1000</CardTitle>
            <CardSubTitle Class="mb-2 text-muted">September Total</CardSubTitle>
        </CardBody>
    </Card>

    <Card Style="width:18rem;">
        <CardBody Style="text-align: center">
            <CardTitle>$1000</CardTitle>
            <CardSubTitle Class="mb-2 text-muted">Over Monthly Budget</CardSubTitle>
        </CardBody>
    </Card>
</div>

<p>Need to figure out charts....</p>

@code {
    
}

