@page "/landing"
@layout BAR.Components.Layout.LandingLayout
@rendermode InteractiveServer

<style>

body {
  padding: 20px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
  margin: 0 0 1em 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
 
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .container {
    width: 75%;
    height: 15em;
    border-radius: .5em;
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .item {
    padding: 20px;
    background-color: white;
    border: 2px solid whitesmoke;
  }

  .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>

<PageTitle>Landing</PageTitle>

<div class="container"> 

    <div class="grid">
        <div class="item">
            <img src="/Images/Buck-Logo.jpeg" asp-append-version="true" style="width: 50%; float:left;"/>
        </div>
        <div class="item">
            <h1>Howdy Partner!</h1>
            <h1>Ready to Budget?</h1>
        </div>
    </div>

    <div class="grid">
        <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Card title</CardTitle>
            <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Card title</CardTitle>
            <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Card title</CardTitle>
            <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Card title</CardTitle>
            <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Card title</CardTitle>
            <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
        </CardBody>
    </Card>
    <Card class="item" Style="width:18rem;">
        <CardBody>
            <CardTitle>Card title</CardTitle>
            <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
        </CardBody>
    </Card>
    </div>
</div>

@code {
    
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
