body {
  padding: 20px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
  margin: 0 0 1em 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
 
.grid-container {
  display: grid;
  grid-template-areas:
  'left left right right';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 { grid-area: left; }
.item2 { grid-area: right; }
  
  .container {
    width: 75%;
    height: 15em;
    border-radius: .5em;
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;
  }

  .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}