@page "/change-password"

<PageTitle>Change password</PageTitle>

<h1>Change password, WIP</h1>

@code {
    // TODO: implement change password page

    // Important to note that users should not be able to access this directly, must go through the button on the settings page
    // Additionally, if someones not logged in/authed, it MUST redirect them to the landing page. Same with basically any page
    // that requires being logged in.
}