@rendermode InteractiveServer

<div class="top-row d-flex mb-3 justify-content-between align-items-center">
    <div class="p-2">
        <a href="/">
            <img src="/Images/Smooth-BAR-Logo-100.png">
        </a>
    </div>
    <div class="add"> 
        <Button Color="ButtonColor.Light" @onclick=AddTransaction> + Add Transaction
        </Button>
    </div>
    <div class="p-2"> 
        <Dropdown Color="DropdownColor.None" Style="background-color: white;">
            <DropdownToggleButton>
                <ProfileAvatar UserFName="@UserFName" AvatarColor="@AvatarColor"/>
            </DropdownToggleButton>
            <DropdownMenu>
                <DropdownHeader>Hi, @UserFName!</DropdownHeader>
                <DropdownItem To="/settings" Type="DropdownItemType.Link"><Icon Name="IconName.Gear"/> Settings</DropdownItem>
                <DropdownDivider>Dropdown header</DropdownDivider>
                <DropdownItem Type="DropdownItemType.Button" @onclick=LogOut><Icon Name="IconName.BoxArrowRight" Color="IconColor.Danger"/> Log out</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </div>

</div>



@code {
    [Parameter] public string UserFName {get; set;} 
    [Parameter] public string AvatarColor {get; set;}

    private void LogOut(){
        // TODO: implement log out functionality
    }

    private Modal addT;

    private async Task AddTransaction()
    {
        await addT?.ShowAsync();
    }

    private async Task CancelAddTransaction()
    {
        await addT?.HideAsync();
    }
}

@* Add Transaction popup *@
<Modal @ref="addT" Title="Add Transaction">
    <BodyTemplate> 
        Label:
        <input type="text" class="mt-2"/> <br>
        Amount (selected currency):
        <input type="text" class="mt-2"/> <br>
        Category:
        <input type="text" class="mt-2"/> <br>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="CancelAddTransaction">Add</Button>
        <Button Color="ButtonColor.Secondary" @onclick="CancelAddTransaction">Cancel</Button>
    </FooterTemplate>
</Modal>