<div class="top-row d-flex mb-3 justify-content-between align-items-center">
    <div class="p-2">
        <a href="/">
            <img src="/Images/Smooth-BAR-Logo-100.png" style="flaot:left">
        </a>
    </div>
    <div class="p-2"> 
        <Dropdown Color="DropdownColor.None" Style="background-color: white;">
            <DropdownToggleButton>
                <ProfileAvatar UserFName="@UserFName"/>
            </DropdownToggleButton>
            <DropdownMenu>
                <DropdownHeader>Hi, @UserFName!</DropdownHeader>
                <DropdownItem To="/settings" Type="DropdownItemType.Link"><Icon Name="IconName.Gear"/> Settings</DropdownItem>
                <DropdownDivider>Dropdown header</DropdownDivider>
                <DropdownItem Type="DropdownItemType.Button" @onclick=LogOut><Icon Name="IconName.BoxArrowDownRight" Color="IconColor.Danger"/> Log out</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </div>

</div>



@code {
    [Parameter] public string UserFName {get; set;} 
    private string AvatarColor = "#E5A000";  

    private void LogOut(){
        // TODO: implement log out functionality
    }
}