@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>

        <div class="top-row" style="background-color: #2C3554;">
             <img src="/Images/Smooth-BAR-Logo.png" asp-append-version="true" width="100px" style="float:left;"/>
            <Button Size="ButtonSize.Large" style="float:right; background-color: #299871; color: white;">Login / Register</Button>
        </div>

        <article class="content px-4">  
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>