@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

    <div class="top-row d-flex mb-3 justify-content-between align-items-center">
    <div class="p-2">
        <a href="/">
            <img src="/Images/Smooth-BAR-Logo-100.png">
        </a>
    </div>

    </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>