@inherits LayoutComponentBase

@using System.ComponentModel.DataAnnotations
@using BAR.Components.Account
@using Microsoft.AspNetCore.Identity
@using BAR.Data
@using BAR.Data.Models

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <Header UserFName="@UserFName" AvatarColor="@UserAvatarColor"/>
        
        <article class="content px-4">
            <CascadingValue Value="user">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    // Local vars for userdata
    private string UserFName = "Rootin";
    private string UserAvatarColor = "#E5A000";
    // TODO: pull in stylesheet based on this value
    private bool UserDarkMode = false;
    private ApplicationUser user {get; set;} = default!;
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    // Pull user from db
    protected override async Task OnInitializedAsync(){
        try{
            user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        }
        catch {
            return;
        }
        if (user is not null){
            UserFName = user!.UserFName;
            UserDarkMode = user!.UserDarkmode;
            UserAvatarColor = user!.UserAvatarColor;
        }
    }
}