@inherits LayoutComponentBase

@using System.ComponentModel.DataAnnotations
@using BAR.Components.Account
@using Microsoft.AspNetCore.Identity
@using BAR.Data
@using BAR.Data.Models

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <Header UserFName="@UserFName" AvatarColor="@UserAvatarColor"/>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    // Local vars for userdata
    private string UserFName;
    private string UserAvatarColor;
    // TODO: pull in stylesheet based on this value
    private bool UserDarkMode;

    // Pull user from db
    private ApplicationUser user = default!;
    [CascadingParameter]
    private HttpContext context { get; set; } = default!;


    protected override async Task OnInitializedAsync(){
        user = await UserAccessor.GetRequiredUserAsync(context);

        UserFName = user.UserFName;
        UserAvatarColor = user.UserAvatarColor;
        UserDarkMode = user.UserDarkmode;
    }
}