@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <Header UserFName="@UserFName" AvatarColor="@UserAvatarColor"/>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    // TODO: pull user's name, avatar color, and appearance mode from db
    private string UserFName = "Rootin'";
    private string UserAvatarColor = "#E5A000";
    // TODO: pull in stylesheet based on this value
    private bool UserDarkMode = false;

}