<div class="profile-avatar @Size" style="background-color: @AvatarColor;">
    @GetInitial()
</div>

@code{
    [Parameter] public string UserFName {get; set;} 
    [Parameter] public string AvatarColor {get; set;} = "#E5A000";  
    [Parameter] public string Size {get; set;} = "";
    
    private string GetInitial(){
        if (string.IsNullOrEmpty(UserFName)){
            return "";
        }

        return UserFName[0].ToString();
    }
}