.profile-avatar {
    width: 64px;           
    height: 64px;             
    border-radius: 50%;        
    display: flex;
    justify-content: center;   
    align-items: center;     
    color: white;      
    font-size: 18px;         
    font-weight: bold;     
    text-transform: uppercase;  
}

.large {
    width: 256px;
    height: 256px;
    font-size: 72px;
}

.small {
    width: 32px;
    height: 32px;
    font-size: 9px;    
}