@page "/forgot"

<PageTitle>Forgot Username/Password</PageTitle>
<h1 style="text-align: center">Forgot Username/Password</h1>
<div style="text-align:center; padding: 50px;">
    <label>Email: </label>
    <input type="email" id="email-input" placeholder="Enter your email" />
    <Button Color="ButtonColor.Primary" Style="margin-left: 30px;">Send reset email</Button>
</div>

@code {

}
