@code {
    [Parameter] public CategoryData data {get; set;} = new();
    [Parameter] public string locale {get; set;} = "en-US";
    [Parameter] public EventCallback RmvElmtFnc {get; set;}
}

<div class='bdgt-dropdown d-flex gap-2 mb-2'>
    <select disabled style="width:200px;" @bind="data.Type">
        <option selected value='@data.Type'>@data.Type</option>
    </select>
    <CurrencyInput TValue="decimal" Placeholder="Amount" @bind-Value="data.Amt" Locale="@locale" Min="0.0m" MaximumFractionDigits="2"/>
    <Button Color="ButtonColor.Danger" Size="ButtonSize.Small" @onclick="RmvElmtFnc">Remove</Button>
</div>  