@code {
    [Parameter] public CategoryData data {get; set;} = new();
    [Parameter] public string locale {get; set;} = "en-US";
    [Parameter] public EventCallback RmvElmtFnc {get; set;}
}

<style>
    .category-dropdown {
        width:175px; 
        appearance: none;
        border: 1px solid rgba(0,0,0,0.3);
        background-color: rgba(0,0,0,0.05);
        border-radius: 4px;
        color:black;
    }
</style>

<div class='bdgt-dropdown d-flex gap-2 mb-2'>
    <select disabled class="category-dropdown" @bind="data.Type">
        <option selected value='@data.Type'>@data.Type</option>
    </select>
    <CurrencyInput TValue="decimal" Placeholder="Amount" @bind-Value="data.Amt" Locale="@locale" Min="0.0m" MaximumFractionDigits="2"/>
    <Button Color="ButtonColor.Danger" Size="ButtonSize.Small" @onclick="RmvElmtFnc">Remove</Button>
</div>  