@page "/trends"

@using BAR.Data
@using BAR.Data.Services
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@attribute [Authorize]

<div class="container">
    <h1 style="text-align: center; padding-bottom: 50px;">Trends</h1> <br> 

    @*total spending by month*@
    <LineChart @ref="totalByMonth" Width="800" /> <br>

    @*three biggest transactions of the month*@
    <div style="padding-top: 50px;">
        <h3 style="padding: 20px">3 Biggest Transactions of the Month</h3>
        <Grid TItem="UserTransaction"
            Class="table table-hover table-bordered table-striped"
            DataProvider="TransactionsDataProvider">
            <GridColumns>
                <GridColumn TItem="UserTransaction" HeaderText="Date" HeaderTextAlignment="Alignment.Center">
                    @context.TransactionDateTime.ToShortDateString()
                </GridColumn>
                <GridColumn TItem="UserTransaction" HeaderText="Label">
                    @context.TransactionLabel
                </GridColumn>
                <GridColumn TItem="UserTransaction" HeaderText="Amount" HeaderTextAlignment="Alignment.Center">
                    @context.TransactionAmt.ToString("C")
                </GridColumn>
                <GridColumn TItem="UserTransaction" HeaderText="Category" HeaderTextAlignment="Alignment.Center">
                    @context.TransactionCategory
                </GridColumn>
            </GridColumns>
        </Grid>
    </div>

    @*amount spent per category average (6 months) *@
    <BarChart @ref="barChart" Width="500" Height="300" />
</div>

