@page "/transactions"
@rendermode InteractiveServer

@**@

<PageTitle>Transaction History</PageTitle>

<h1>
    Transaction History
</h1>

<Grid
      TItem="Transaction"
      Class="table table-hover table-bordered table-striped"
      DataProvider="TransactionsDataProvider"
      AllowFiltering="true"
      Responsive="true">

    <GridColumns>
        <GridColumn TItem="string TimeStamp" HeaderText="Date/Time" PropertyName="TimeStamp">
            @context.TimeStamp
        </GridColumn>
        <GridColumn TItem="string Label" HeaderText="Label" PropertyName="Label">
            @context.Label
        </GridColumn>
        <GridColumn TItem="string Category" HeaderText="Category" PropertyName="Category">
            @context.Category
        </GridColumn>
        <GridColumn TItem="string Amount" HeaderText="Amount" PropertyName="Amount">
            @context.Amount
        </GridColumn>
    </GridColumns>
</Grid>


<!--@code {
    /*
    private IEnumerable<Transaction>? transactions;

    protected override void OnInitialized()
    {
        transactions = new List<Transaction>

    new Transaction
        {
            string TimeStamp = DateTimeOffset.Now.ToString("yyyyMMddHHmmssffff"),
            string Label = "Car Payment",
            string Category = "Transportation",
            string Amount = 400.00;
        };
    };

    private async Task<GridDataProviderResult<Transaction>> TransactionsDataProvider(GridDataProviderRequest<Transaction> request)
    {
        return await Task.FromResult(request.ApplyTo(Transactions));
    };
    
}-->
